/* to stop selection on dragging mouse */

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}


body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* start of keypad styling */
.control-panel-wrapper{
  position: relative;
  /* background-color: rgb(187, 187, 187); */
  background-image: linear-gradient(to right,rgba(187, 187, 187,1) , rgba(187, 187, 187,0.5),  rgba(187, 187, 187,0.5), rgba(187, 187, 187,0.5), rgba(187, 187, 187,0.5) ,rgba(187, 187, 187,1)  );
  width: 310px;
  height: 270px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* margin-left: 550px; */
  box-shadow: 5px 5px 8px gray;
}

.inner-circle{
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  background-color: rgb(187, 187, 187);
  width: 150px;
  height: 150px;
  left:80px;
  top:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.buttons{
  position: absolute;
  z-index: 1;
  cursor: pointer;
}
.buttons img{
  width:20px;
  height:20px;
}
.top-button{
  top: 15px;
  left:130px;
  font-weight: 700;
}
.left-button{
  top:115px;
  left: 40px;
}
.right-button{
  top:115px;
  right:40px;
}

#bottom-button {
  left:133px;
  bottom:22px;
}
#bottom-button img{
  width: 40px;
  height:40px;
}

.outer-circle-rotatable{
  position: relative;
  border-radius: 50%;
  background: white;
  opacity: 0.9;
  width: 250px;
  height: 250px;
  left: 30px;
  z-index: 1;
  
}

/* end of keypad styling */

/* start of screen styling */


.screen-wrapper{
  width: 310px;
  height: 310px;
  background-image: linear-gradient(to right,rgba(187, 187, 187,1) , rgba(187, 187, 187,0.5),  rgba(187, 187, 187,0.5), rgba(187, 187, 187,0.5), rgba(187, 187, 187,0.5) ,rgba(187, 187, 187,1)  );
  position: relative;
  /* margin-left: 550px;
  margin-top: 50px; */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 5px -5px 8px gray;
}
.screen-internal-wrapper{
  width: 290px;
  height: 290px;
  background-image: url('https://images.unsplash.com/photo-1504714146340-959ca07e1f38?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c2NlbmVyeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  background-color: pink;
  position: absolute;
  left:9px;
  top:9px;
  overflow: hidden;
  border:1px solid black;
  border-radius: 10px;
}
.white{
  background-image: none;
  background-color: white;
}

.battery{
  position: absolute;
  right: 3px;
  top:-3px;
}
.battery img{
  width: 30px;
  transform: rotate(-180deg);
}
.side-menu{
  position: absolute;
  width: 125px;
  background-color: white;
  bottom: 0px;
  border-top-right-radius: 10px;
}
.side-menu-animated{
  animation: 0.5s ease-out 0s 1 slideInFromBottom;
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.side-menu ul{
  list-style: none;
  text-align: left;
  margin-left: -40px;
}
.side-menu ul li{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:20px;
  font-size: 15px;
}

.active{
  background-color: rgb(64, 64, 233);
  color: white;
}

/* settings screen */

#settings-image-1{
  width: 50px;
  animation: spin-opposite 2s linear infinite;
}
#settings-image-2{
  width: 75px;
  animation: spin 4s linear infinite;
  margin-left: -5px;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-opposite {
  100% {
    transform: rotate(-360deg);
  }
}